<nav class="navbar navbar-expand-lg bg-dark ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="admin">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="data-binding">Data Binding</a>
        </li>
             <li class="nav-item">
          <a class="nav-link" routerLink="directive">Directive</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="controlFlow">Control Flow</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" routerLink="pipe">Pipe</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="formcomp">Forms</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="getapi">Get-Api</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="postapi">Post-Api</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="getPostApi">Get-Post-Api</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" routerLink="ngTempate">Ng Tempate</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" routerLink="ngContainer">Ng Container</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="viewChild">View Child</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/> -->
        <!-- <button class="btn btn-outline-danger" type="submit" routerLink="login">Login</button> -->
        <p class="text-white mr-2">{{loggedUserData}}</p>
        <button class="btn btn-outline-danger" type="submit"(click)="onLogout()">logout</button>
      </form>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>