<div class="container py-4">

    <div class="row">

        <div class="col-8">
            <table class="table">
                <thead>
                    <tr>
                        <th>Sr. no</th>
                        <th>Depart Name</th>
                        <th>Depart Img</th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of deptData; track $index) {
                    <tr>
                        <td>{{$index+1}}</td>
                        <td>{{item.departmentName}}</td>
                        <td>{{item.departmentLogo}}</td>
                    </tr>
                    }

                </tbody>
            </table>
        </div>

        <div class="col-4">

            <form class="row g-3 formstyle">
                <h4 class="text-center">Login From</h4>

                <div class="col-12">
                    <label class="form-label">Department Name</label>
                    <input type="text" [(ngModel)]="departObj.departmentName" name="departmentName" class="form-control">
                </div>
                <div class="col-12">
                    <label class="form-label">Department Logo</label>
                    <input type="text" [(ngModel)]="departObj.departmentLogo" name="departmentLogo" class="form-control">
                </div>
                <div class="col-12">
                    <button class="btn btn-success" type="submit" (click)="onSubmit()">Save</button>
                </div> 

            </form>
        </div>
    </div>
</div>