<div class="container py-4">
    <div class="row">
        <h3>Api Delete Not working </h3>
        <div class="col-8">
            <table class="table">
                <thead>
                    <tr>
                        <th>Sr. no</th>
                        <th>Depart Name</th>
                        <th>Depart Img</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of deptData; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ item.departmentName }}</td>
                        <td>{{ item.departmentLogo }}</td>
                        <td>
                            <button class="btn btn-primary" type="button" (click)="onEdit(item)">Edit</button>
                            <button class="btn btn-danger" type="button" (click)="onDelete(item.departmentId)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-4">

            <form class="row g-3 formstyle">
                <h4 class="text-center">Login From</h4>

                <div class="col-12">
                    <label class="form-label">Department Name</label>
                    <input type="text" [(ngModel)]="departObj.departmentName" name="departmentName"
                        class="form-control">
                </div>
                <div class="col-12">
                    <label class="form-label">Department Logo</label>
                    <input type="text" [(ngModel)]="departObj.departmentLogo" name="departmentLogo"
                        class="form-control">
                </div>
                {{departObj |json}}
                <div class="col-12">
                    <button class="btn btn-success" type="submit" (click)="onSubmit()">Save</button>
                </div>

            </form>
        </div>
    </div>
</div>