<nav class="navbar navbar-expand-lg mt-3" style="background-color: #e3f2fd">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       
        <li class="nav-item">
          <a class="nav-link" routerLink="ng-if">Ng-if</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="ng-for">Ng-for</a>
        </li>
       
      </ul>
     
    </div>
  </div>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
