<app-alert [alterType]="'Success'" [message]="' Welcome Message from parent component'"></app-alert>
<div class="row">
    <div class="col-4">
        <!-- <div class="btn btn-success" (click)="getAllUsers()">Get data</div> -->
         <app-button-comp [btnClass]="'btn btn-primary'" [btnText]="'get data'" (btnClick)="getAllUsers()"></app-button-comp>
    </div>
    <div class="col-8">
        <div *ngIf="userList.length > 0" class="table tablebordered">
            <thead>
                <tr>
                    <th>Sr.no</th>
                    <th>Name</th>
                    <th>email</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor ="let item of userList">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.email}}</td>
                </tr>
            </tbody>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <!-- <div class="btn btn-success" (click)="getAllEmployee()">Get customers</div> -->
        <app-button-comp [btnClass]="'btn btn-success'" [btnText]="'get all Empolyee'" (btnClick)="getAllEmployee()"></app-button-comp>

    </div>
    <div class="col-8">
        <div *ngIf="employeeList.length > 0" class="table tablebordered">
            <thead>
                <tr>
                    <th>Sr.no</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>city</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor ="let item of employeeList">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.joiningDate}}</td>
                    <td>{{item.city}}</td>
                </tr>
            </tbody>
        </div>
    </div>
</div>
